/* 모달 창 배경 */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5); /* 투명한 검은 배경 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
  }
  
  /* 모달 창 내용 */
  .modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 90%;
    height: 60%;
    position: relative;
    z-index: 100000;
  }
  
  /* 버튼 스타일 */
  .modal-content button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .modal-content button:hover {
    background-color: #45a049;
  }