/* 모달 창 배경 */
.modal {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5); /* 투명한 검은 배경 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
  }
  
  .modal-content {
    background: #f9f0eb;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    padding: 32px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
  }
  
  .modal-content h2 {
    margin: 0;
    font-size: 2rem;
    color: #333;
  }
  
  .modal-content p {
    margin: 0;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #555;
  }
  
  .modal-text-content {
    max-height: 600px; /* 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    width: 100%;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
  }
  
  .modal-text-content p {
    margin-bottom: 1rem;
  }
  
  .close-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
  }
  
  .close-button:hover {
    background-color: #603c46;
  }
  